@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

header {
  width: 50px;
  height: 656px;
  background-color: #0d1217;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
}

header a {
  text-decoration: none;
}

header div {
  padding-top: 30px;
  font-size: 23px;
}

header .icon a {
  color: rgba(245, 245, 245, 0.801);
}

header .icon a:hover {
  color: white;
}

header .icon1 a {
  color: #19b5fe;
}

section {
  margin-left: 50px;
  width: calc(100% - 50px);
  height: 500px;
  background-image: url(./images/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: rgba(255, 255, 255, 0.808);
  text-align: center;
}

section .back {
  width: calc(100% - 0px);
  height: 500px;
  background-color: rgba(0, 0, 0, 0.707);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section div p {
  margin: 25px 0px;
  font-size: 21.5px;
}

section div h1 {
  font-size: 33px;
  letter-spacing: 1.2px;
}

section div button a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 27px;
  padding: 14px 34px;
}

section div button {
  border: 2px solid rgba(245, 245, 245, 0.103);
  border-radius: 5px;
  background-color: transparent;
  padding: 12px 0px;
}

section div button:hover {
  background-color: rgba(245, 245, 245, 0.103);
}

#body2 {
  margin-left: 85px;
  width: calc(100% - 85px);
  height: auto;
}

#body2 .text {
  padding: 35px 0px;
  font-size: 21px;
  color: rgba(0, 0, 0, 0.774);
}

#body2 .images img {
  width: 270px;
  height: 270px;
  padding: 0px;
  margin: -2.34px;
}

#body2 .center {
  margin-left: 85px;
  width: calc(100% - 85px);
  height: auto;
  display: flex;
  justify-content: center;
}

#body2 .button {
  margin: 70px calc(50% - 100px) 30px calc(50% - 100px);
}

#body2 .button button {
  border-radius: 5px;
  background-color: transparent;
  padding: 15px 0px;
  border-radius: 5px;
  border-color: transparent;
}

#body2 .button button a {
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  background-color: #19b5fe;
  font-size: larger;
  font-weight: 600;
}

#body2 .button button a:hover {
  background-color: #078ccaaf;
}

.body3 {
  margin-left: 50px;
  width: calc(100% - 50px);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.body3 .all1 {
  width: calc(690px - 50px);
  background-color: #e6e6e6;
  padding: 0px 30px;
  height: 655px;
}

.body3 .all1 h4 {
  font-size: larger;
  margin-bottom: -10px;
}

.body3 .all1 p {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.705);
  line-height: 28px;
  font-size: 15px;
}

.body3 .all1 h4 {
  color: rgba(0, 0, 0, 0.781);
  padding: 35px 0px;
  font-size: 21px;
}

.body3 .all1 .icons {
  display: flex;
}

.body3 .all1 .icons .icon a {
  color: #19b5fe;
  font-size: 35px;
  padding-right: 30px;
}

.body3 .all2 {
  padding: 30px;
  width: calc(690px - 50px);
  background-color: #ececec;
  height: 655px;
}

.body3 .all2 h4 {
  padding-bottom: 25px;
  font-size: larger;
}

.body3 .all2 form input {
  padding: 9px;
  margin: 10px 0px 30px;
  border: 1px solid #19b5fe56;
  border-radius: 5px;
  width: 95%;
  font-size: large;
}

.body3 .all2 form textarea {
  width: 95%;
  margin: 15px 0px;
}

.body3 .all2 form div input {
  width: 170px;
  background-color: #19b5fe;
  color: white;
  cursor: pointer;
}

footer {
  width: calc(100% - 50px);
  margin-left: 50px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
  color: rgba(0, 0, 0, 0.747);
}

.images {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
